<section class="timeline__error-box">
  <h1>We're sorry.</h1>
  <p>Your timeline doesn't contain enough content to generate a profile, so we can't make any recommendations.</p>
  <p> An alternative input option is in the works for non-Twitter users.
</section>
