<div class="slide grid--center root__slide-1 u-first-slide">
  <div class="grid__cell 3/5 root__slide-1-text-area">
    <h1 class="root__slide-hed">Personalized movie recommendations at the click of a button.</h1>
    <h2 class="root__slide-subhed">Want to watch something good, but don't know what? No problem.
     <br>
     <br>
      Our database of high-quality critic reviews has a broad range of offerings, from horror to documentary and everything in between.
      <br>
      <br>
      And, with the power of machine learning, we'll match you with critics who think like you.
    </h2>
    <button class="twitter-button">
      <%= link_to("Get started with Twitter.", user_twitter_omniauth_authorize_path) %>
    </button>
  </div>
</div>
