<div class="slide u-100vh grid--center root__slide-1">
  <div class="grid__cell 3/5 root__slide-1-text-area">
    <h1>Personalized movie recommendations at the click of a button.</h1>
    <button class="twitter-button">
      <%= link_to("Get started with Twitter.", user_twitter_omniauth_authorize_path) %>
    </button>
  </div>
</div>
<div class="slide u-bg-blue">
</div>