$primary-color: #c863e8;
$secondary-color: #2a80ea;

* {
  margin: 0;
  padding: 0;
}
.page__nav {
  background-color: $primary-color;
  display: block;
  height: 25px;
  padding: 10px 10px;
}

.page__nav-header {
  display: inline-block;
  height: 100%;
  width: auto;
}

.page__nav-logo {
  display: inline-block;
  height: 187%;
  width: auto;
  margin: 0 auto;
  position: relative;
  top: -18px;
  border: solid 2px $secondary-color;
  background-color: $secondary-color;
  border-radius: 72px;
  padding: 5px;
}

.page__nav-account-button {
  padding: 5px 5px;
  font-size: 16px;
  border-radius: 10px;
  background-color: $secondary-color;
}

button a {
  text-decoration: none;
  color: white;
  border: none;
}

.u-100 {
  height: 100%;
}
