$primary-color: #c863e8;
$secondary-color: #2a80ea;
$off-white: #e1e3f1;

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}
.page__nav {
  background-color: $primary-color;
  display: block;
  height: 25px;
  padding: 10px 10px;
}

.page__nav-menu {
  display: inline-block;
  height: 100%;
  width: auto;
}

.page__nav-menu-accordion {
  background-color: $off-white;
  height: auto;
  min-height: 0;
  width: 100%;
  position: relative;
  left: -9px;
  top: 6px;
}

.page__nav-menu-accordion-item {
  border: solid 1px grey;
  height: 66px;
}

.page__nav-logo {
  display: inline-block;
  height: 187%;
  width: auto;
  margin: 0 auto;
  position: relative;
  top: -18px;
  border: solid 2px $secondary-color;
  background-color: $secondary-color;
  border-radius: 72px;
  padding: 5px;
}

.page__nav-account-button {
  padding: 5px 5px;
  font-size: 16px;
  border-radius: 10px;
  background-color: $secondary-color;
}

button a {
  text-decoration: none;
  color: white;
  border: none;
}

.u-100 {
  height: 100%;
}
